<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="Appender1" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
       </layout>
    </appender>
  
    <appender name="Appender2" class="org.apache.log4j.FileAppender">
       <param name="File" value="${catalina.home}/logs/myapp.log" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
       </layout>
    </appender>
    
<!--    <appender name="ErrorEmailAppender" class="org.apache.log4j.net.SMTPAppender"> -->
<appender name="EMAIL"  class="com.glenwood.glaceemr.server.utils.AlternateSMTPAppender">
    <param name="SMTPHost" value="mail.glenwoodsystems.com" />
  <!--  <param name="SMTPPort" value="465" /> -->
    <param name="ssl" value="true" />
    <param name="Authentication" value="true" />
    <param name="SMTPUsername" value="donotreply@glenwoodsystems.com" />
    <param name="SMTPPassword" value="D0N0tR!p1y" />
    <param name="From" value="donotreply@glenwoodsystems.com" />
    <param name="To" value="harikishore@glenwoodsystems.com,vasanth@glenwoodsystems.com,glanesh@glenwoodsystems.com" />
    <param name="Subject" value="[%p][%X{UserId}][%d{MM-dd-yyyy HH:mm:ss}]" />
      <param name="BufferSize" value="512" />

    <layout class="com.glenwood.glaceemr.server.utils.AlternateHTMLLayout">
    <param name="Title" value="true"/>
        </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
</appender>
 <logger name="org.springframework">
    <level value="off"/>
</logger>
<logger name="org.hibernate">
    <level value="off"/>
</logger>
<logger name="com.glenwood.glaceemr.server.application.controllers.ChartcenterController">
  <level value="debug"/> 
</logger>
<logger name="org.jboss">
    <level value="off"/>
</logger>
 
    <root>
        <priority value="ERROR"/>
        <level value="ERROR" />
        <appender-ref ref="Appender1" />
        <level value="ERROR" />
        <appender-ref ref="Appender2" />
        <level value="ERROR" />
         <appender-ref ref="EMAIL" />
    </root>
     
</log4j:configuration>